<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBKUiWxmcnRz3nhtmUEBGvNU3KJ2W8ad4</string>
	<key>GCM_SENDER_ID</key>
	<string>77959177776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.company.app.YouTube-Clone</string>
	<key>PROJECT_ID</key>
	<string>clone-ef3ed</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-ef3ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77959177776:ios:ca72823209f6dd337c2ff5</string>
</dict>
</plist>
